<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>HELLO WORD!!!!!!!</h1>
    <p><a href="/clientes">Vê teu cliente meu mano</a></p>
    <p><a href="/Produtos">Vê teu produto meu mano</a></p>
    <p><a href="/Servicos">Vê teu Serviço meu mano</a></p>
</body>
</html>